{% extends "base.html" %}

{% block content %}
    <h1>About the Finch Collector</h1>
    <p>Every bird enthusiast deserves a sanctuary where they can indulge their passion for finches. Whether you're an experienced collector or just starting out, the Finch Collector is your online oasis for all things finch-related.</p>

    <h4>Our Mission</h4>
    <p>To provide a haven for finch enthusiasts where they can learn, share, and connect with others who share their love for these remarkable birds. We strive to create a welcoming and informative community that fosters a deeper understanding and appreciation of finches and their habitats.</p>

    <h4>Why Finches?</h4>
    <p>Finches are not just beautiful birds; they are also fascinating creatures with unique personalities and behaviors. From the vibrant colors of the Gouldian Finch to the melodious songs of the Canary, each species brings its own charm and allure.</p>

    <h4></h4>
{% endblock %}