{% extends 'base.html' %}
{% block content %}

<h1>Finch Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">ID#: {{finch.id}}</span>
        <p><span class="card-bold">Species:</span> {{finch.species}}</p>
        <p><span class="card-bold">Size:</span> {{finch.size}} in</p>
        <p><span class="card-bold">Habitat:</span> {{finch.habitat}}</p>
        <p><span class="card-bold">Description:</span> {{finch.description}}</p>
    </div>
</div>

{% endblock %}